{% extends 'base.html' %}
{% block content %}
<h2>Opciones</h2>
<ul>
  <form action="." method="POST">
    {% csrf_token %}
    <img src="{{ composition.photo_model.url }}" height="420">
    {{ form.as_p }}
    <div id="slider">
  <div id="custom-handle" class="ui-slider-handle"></div>
</div>

    <input type="submit" value="OK">
  </form>
</ul>
{% endblock %}

{% block script %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var handle = $( "#custom-handle" );
    $( "#slider" ).slider({
      range: "max",
      min:0,
      create: function() {
        handle.text( $( this ).slider( "value" ) );
      },
      slide: function( event, ui ) {
        handle.text( ui.value );
      }
    });
  } );
  </script>
{% endblock %}