{% extends 'base.html' %}
{% block content %}
<h2>Video</h2>
<ul>
  <form action="/classify" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="OK">
  </form>
</ul>
{% endblock %}
