{% extends 'base.html' %}
{% block content %}
<h2>Hola! {{ user.get_short_name }}</h2>
{% if is_filled == 2 %}
<a class="btn btn-primary" href="classifier/reset/0/" role="button">Resetear Gustos</a>
<a class="btn btn-primary" href="classify" role="button">Analizar Video</a>
<a class="btn btn-primary" href="#" role="button">Ver Antiguos Videos</a>
{% elif is_filled == 1%}
<a class="btn btn-primary" href="classifier/fill/{{ step }}/" role="button">Completar Gustos</a>
{% else %}
<a class="btn btn-primary" href="classifier/fill/0/" role="button">Llenar Gutos</a>
{% endif %}
{% endblock %}